@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap");
.carousel {
  height: calc(100vh - 100px);
  * {
    height: 100%;
  }
  &-text {
    position: absolute;
    width: 30%;
    z-index: 100;
    height: fit-content;
    padding-left: 5%;

    :only-child {
      padding: 35% 20% 50% 0;
      margin: auto;
      h2 {
        font-size: 60px;
        color: #ffff;
        height: auto;
      }
      p {
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        color: #ffff;

        font-weight: 400;
        height: auto;
      }
      button {
        height: auto;
        background-color: transparent;
        border: 0.5px solid #ffff;
        color: #ffff;

        font-size: 20px;
        font-weight: 300;
        padding: 10px 20px;
        outline: 0;
        cursor: pointer;
        &:active {
          outline: 0;
        }
      }
    }
  }

  ul {
    height: 12px;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}
