.card{
    width: 250px;
    margin-top: 50px;
    &:hover{
        
            span:first-of-type{
                position: absolute;
                bottom: 0;
                display: block;
                text-align: center;
                background-color: #000;
                color: #fff;
                width: 100%;
                cursor: pointer;
            }
        
    }
    &__img{
        position: relative;
        img{
            width: 100%;
        }
        span{
            display: none;
        }
    }
    &__info{
        text-align: center;
    }
   
}