@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,300&display=swap");
@import "../../styles/index";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: auto;
  height: 100px;
  background: none;
  &:hover {
    background: #fff;
    transition: 0.5s;
  }
  &__logo {
    svg {
      width: 100px;
      height: 50px;
      fill: $main-color;
    }
  }
}
