@import '../../styles/color';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap");

.footer {
    background:#6B6B6B ;
    height: 208px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    padding-top: 40px;
    
    button {
        height: auto;
        background-color: transparent;
        border: 0.5px solid $white;
        color:$white;
        font-size: 10px;
        font-weight: 300;
        padding: 5px 20px;
        outline: 0;
        letter-spacing: 1px;
        cursor: pointer;
     }

     .politicas {
        padding-left: 5%;
        text-align: center;
        font-weight: 100;

        h3 {
            color: $white;
        }

        ul {
            padding: 0%;

            li {
                list-style: none;

                a {
                text-decoration: none;
                color: $white;
                }
            }
        }
    }

    .contact {
        text-align: center;
        font-weight: 100;

        h3 {
            color: white;
        }

        ul {
            padding: 0%;

            li {
                list-style: none;

                p {
                text-decoration: none;
                color:white;
                }
            }
         }
        }

        .newsletter {
            padding-right: 5%;

            h2 {
                color: white;
                text-align: center;
            }
            
            input {
                width: 240px;
                height: 28px;
            }
        }
}